<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div id="main">
    <ul id="names">
      <li v-for="name in names" v-text="name"></li>
    </ul>
    <input type="text" v-model="nameInput">
    <button @click="addName">Add Name</button>
  </div>

  <script>

  new Vue({
    el: '#main',
    data: {
      nameInput: '',
      names: ['Tommy', 'Sally', 'George']
    },
    methods: {
      addName() {
        console.log('Name added');
        this.names.push(this.nameInput);
        this.nameInput = '';
      }
    }
  })

  </script>

</body>
</html>
